flows/flows (2).json
[{"id":"5859d042.9743","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d68cd0db.20327","type":"aws-mqtt in","z":"5859d042.9743","device":"d81c8d6d.7c0e1","topic":"device","x":190,"y":600,"wires":[["27abe6bf.e3dd4a"]]},{"id":"27abe6bf.e3dd4a","type":"debug","z":"5859d042.9743","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":640,"wires":[]},{"id":"52753337.7b5a8c","type":"exec","z":"5859d042.9743","command":"ifconfig","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Network interface","x":310,"y":300,"wires":[["7aaa0382.e6a5dc"],[],[]]},{"id":"7aaa0382.e6a5dc","type":"function","z":"5859d042.9743","name":"extract IPv4 and MAC address","func":"\nifconfig = msg.payload;\nwlan = ifconfig.indexOf(\"wlan0\");\nstart = ifconfig.indexOf(\"inet\", wlan) + 5; \nmac = ifconfig.indexOf(\"ether\", wlan) + 6;\n//let found = []\nlet device\ndevice = {\n\t\"userid\": \"sekar\",\n\t\"lat\": 28.6448,\n\t\"long\": 77.216721,\n\t\"category\": \"ambTempHum\",\n\ttemperature : flow.get (\"temperature\"),\n\thumidity : flow.get (\"humidity\"),\n\t\"_version\": 0,\n\t\"ambTempMin\": \"20\",\n\t\"ambTempMax\": \"40\",\n\t\"ambHumMin\": \"70\",\n\t\"ambHumMax\": \"90\",\n        ip1 : ifconfig.substring(start, ifconfig.indexOf(' ', start)),\n        mac: ifconfig.substring(mac, ifconfig.indexOf(' ', mac))\n        }\nmsg.payload = device;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":440,"wires":[["85a67d17.7916f"]]},{"id":"85a67d17.7916f","type":"json","z":"5859d042.9743","name":"","property":"payload","action":"","pretty":false,"x":530,"y":360,"wires":[["fcf0ccb6.c83d1","73333cdb.5c2e84","1b70a56e.8d2a8b"]]},{"id":"fcf0ccb6.c83d1","type":"aws-mqtt out","z":"5859d042.9743","device":"d81c8d6d.7c0e1","topic":"device","qos":"1","x":750,"y":460,"wires":[]},{"id":"c2170031.a61ab","type":"start-up-trigger","z":"5859d042.9743","x":80,"y":320,"wires":[["52753337.7b5a8c"]]},{"id":"73333cdb.5c2e84","type":"mqtt out","z":"5859d042.9743","name":"","topic":"device","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9f91d7b7.2125e8","x":680,"y":540,"wires":[]},{"id":"1b70a56e.8d2a8b","type":"aws-mqtt out","z":"5859d042.9743","device":"dd1b09d2.112c28","topic":"ifhps1","qos":0,"x":730,"y":240,"wires":[]},{"id":"ef64cfa3.33701","type":"rpi-dht22","z":"5859d042.9743","name":"dht","topic":"rpi-dht11","dht":"11","pintype":"0","pin":4,"x":290,"y":120,"wires":[["9c961d6d.2b469"]]},{"id":"9b5a355a.8e6d78","type":"inject","z":"5859d042.9743","name":"Interval","props":[{"p":"payload"}],"repeat":"900","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":100,"y":120,"wires":[["ef64cfa3.33701","52753337.7b5a8c"]]},{"id":"9c961d6d.2b469","type":"function","z":"5859d042.9743","name":"Extract Temp and Humidity","func":"var tem = msg.payload;\nvar hum = msg.humidity;\nflow.set(\"temperature\", tem);\nflow.set(\"humidity\", hum);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":120,"wires":[[]]},{"id":"d81c8d6d.7c0e1","type":"aws-iot-device","name":"Hydro_AWS","mode":"broker","clientId":"af0b681c9b","endpoint":"a206mp6k9v3rah-ats.iot.us-east-2.amazonaws.com","awscerts":"/home/pi/awscerti/iot-core/"},{"id":"9f91d7b7.2125e8","type":"mqtt-broker","name":"awshydro","broker":"3.7.246.168","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"dd1b09d2.112c28","type":"aws-iot-device","name":"IFHP-RMA","mode":"broker","clientId":"1c8d02f8ff","endpoint":"a1o0b9hm86clzw-ats.iot.us-east-1.amazonaws.com","awscerts":"/home/pi/ifhpsma/iot-core/IFHP/"}]