flows/flows (2).json
[{"id":"5859d042.9743","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d68cd0db.20327","type":"aws-mqtt in","z":"5859d042.9743","device":"d81c8d6d.7c0e1","topic":"device","x":130,"y":560,"wires":[["27abe6bf.e3dd4a"]]},{"id":"27abe6bf.e3dd4a","type":"debug","z":"5859d042.9743","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":560,"wires":[]},{"id":"52753337.7b5a8c","type":"exec","z":"5859d042.9743","command":"ifconfig","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Network interface","x":310,"y":300,"wires":[["7aaa0382.e6a5dc"],[],[]]},{"id":"7aaa0382.e6a5dc","type":"function","z":"5859d042.9743","name":"extract IPv4 and MAC address","func":"\nifconfig = msg.payload;\nwlan = ifconfig.indexOf(\"wlan0\");\nstart = ifconfig.indexOf(\"inet\", wlan) + 5; \nmac = ifconfig.indexOf(\"ether\", wlan) + 6;\nlet found = []\nlet device\ndevice = {\n        ip : ifconfig.substring(start, ifconfig.indexOf(' ', start)),\n        mac: ifconfig.substring(mac, ifconfig.indexOf(' ', mac))\n        }\nfound.push ( device )\nmsg.payload = found;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":440,"wires":[["85a67d17.7916f"]]},{"id":"85a67d17.7916f","type":"json","z":"5859d042.9743","name":"","property":"payload","action":"","pretty":false,"x":550,"y":440,"wires":[["fcf0ccb6.c83d1","73333cdb.5c2e84"]]},{"id":"fcf0ccb6.c83d1","type":"aws-mqtt out","z":"5859d042.9743","device":"d81c8d6d.7c0e1","topic":"device","qos":"1","x":650,"y":360,"wires":[]},{"id":"c2170031.a61ab","type":"start-up-trigger","z":"5859d042.9743","x":100,"y":280,"wires":[["52753337.7b5a8c"]]},{"id":"73333cdb.5c2e84","type":"mqtt out","z":"5859d042.9743","name":"","topic":"device","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9f91d7b7.2125e8","x":680,"y":540,"wires":[]},{"id":"d81c8d6d.7c0e1","type":"aws-iot-device","name":"Hydro_AWS","mode":"broker","clientId":"af0b681c9b","endpoint":"a206mp6k9v3rah-ats.iot.us-east-2.amazonaws.com","awscerts":"/home/pi/awscerti/iot-core/"},{"id":"9f91d7b7.2125e8","type":"mqtt-broker","name":"awshydro","broker":"3.7.246.168","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]